body {
    margin: 0;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.layout-header {
    width: 100%;
    position: fixed;
    background: black; /*задний фон*/
    display: flex; /*изменение поведения элемента(block,inline,flex).*/
    height: 48px;
    z-index: 1;
}
.header-nav {
    flex-grow: 1; /*размер заполнения элемена во флекс контейнере*/
}
.logo {
    background-image: url("../images/star-wars-battlefront-ii.png");
    display: block;
    width: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.logo > img {
 display: none;
}
.menu {
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
}
.menu > li:hover .sub-menu {
 display: block;
}
.menu > li { /*> применяется для дочерних элементов первого уровня*/
    display: inline-block;
    height: 100%;
    position: relative;
    padding: 0 8px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    transition: background 0.35s;
}
.menu > li > div {
    display: inline-flex;
    align-items: center;
    padding: 0 8px;
    height: 100%;
} 
.menu > li::after {
    content: "˅";
    display: inline-block;
    transition: transform 0.40s;
}
.menu > li:hover  {
    background-color: rgba(255, 255, 255, 0.1);
}
.menu > li:hover::after {
    transform: rotateX(180deg);
}
.window-call, .window-registration, .burger, .nav-mobile, .pop-up-menu {
    display: none;
}
.window-call:checked + .window-registration{
    display: flex;
} 
.window-registration {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #0008;
}
.window-registration > label {
    padding: 5px 10px;
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 2;
    font-size: 40px;
    border-radius: 5px;
    background-color: #1b1a1a71;
    color: #fff;
}
.window-modal {
    max-width: 400px;
    max-height: 300px;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #1b1a1a;
    border-radius: 6px;
    padding: 20px;
}
.window-modal input {
    width: 85%;
    background-color: #0000;
    border: 2px  solid #fff;
    margin: 20px 20px;
    padding: 10px 10px;
    color: #fff;
}
.window-modal label {
    display: block;
    bottom: 20px;
    right: 70px;
    left: 70px;
    text-align: center;
}
.sub-menu {
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0);
    top: 100%;
    min-width: 160px;
    margin: 0;
    padding: 8px;
    list-style: none;
    border-radius: 5px;
    border: 3px solid rgba(255, 255, 255, 0.06);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.70);
}
.sub-menu a {
    text-decoration: none;
    color: #fff;
    transition: 0.35s;
    display: block;
    padding: 4px 8px;
}
.sub-menu a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.sub-menu li:not(:first-child) {
    margin-top: 2px;
}
.base-button {
    width: auto;
    margin: 5px 10px 5px;
    background-color: gold;
    border-radius: 5px;
    border: 0;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    padding: 12px 16px;  /* Если кнопки по размерам одинаковые, задать в base-button */
    text-decoration: none; /* вынести в base-button */
    color: #000;
    font-size: 16px;
}
.base-button:hover {
    background-color: rgb(255, 240, 0);
}
.information {
    background-image:  linear-gradient(180deg, #0000, #000 98%), url("../images/unnamed.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    background-position: center;
    width: 100%;
    padding: 350px 100px 0px 100px; /* padding вынести в общий блок */
    font-weight: 400;
    text-align: center;
    box-sizing: border-box;
}
.information .caption {
    font-size: 24px;
    font-weight: 400;
}
.information h1 {
    margin-top: 20px; /* правильнее сделать margin-top */
    font-size: 40px;
}
.information p {
    margin-top: 40px; /* правильнее сделать margin-top */
    font-size: 18px;
    padding-bottom: 20px;
}
.information  .base-button {
    width: auto;
}
.news {
    background-color: #000;
    min-height: 800px;
    text-align: center;
    box-sizing: border-box;
    padding: 50px 100px 0px 100px;
}
.news .caption {
    font-size: 32px;
    font-weight: 700;
}
.news-feed {
    display: flex;
    justify-content: center;
}
.news-feed a { 
    margin: 20px 10px;
    width: 350px;
    min-height: 450px;
    background-repeat: no-repeat;
    background-color: #1b1a1a;
    text-decoration: none;
    color: #fff;
    text-align: left;
    transition: 0.5s;
}
.news-feed a:hover {
    transform: translateY(-10px);
}
.news-feed div {
    background-repeat: no-repeat;
    background-size: contain;
}
.news-feed .images1 {
    background-image: url("../images/news2.jpg");
    width: 100%;
    height: 200px;
}
.news-feed .images2 {
    background-image: url("../images/news1.jpg");
    width: 100%;
    height: 200px;
}
.news-feed .images3 {
    background-image: url("../images/news3.jpg");
    width: 100%;
    height: 200px;
}
.news-feed h3 {
    margin: 20px 20px;
    color: gold;
    font-weight: 400;
    font-size: 16px;
}
.news-feed p {
    margin: 10px 20px 10px;
}
.introductory-p{
    font-size: 20px;
}
.characters {
    background-image:  linear-gradient(0deg, #0000 80%, #000 99%), url("../images/images1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    text-align: left;
    box-sizing: border-box;
    padding: 200px 700px 0px 70px;
}
.characters .caption {
    margin-bottom: 5px;
}
.characters h1 {
    margin: 5px 0px 20px;
    font-size: 40px;
}
.characters p {
    font-size: 18px;
    margin-bottom: 40px;
}
.characters .base-button {
    width: auto;
}
.subscription {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%,  rgba(0, 0, 0, 0.8) 100%), url("../images/background.png");
    background-position: center;
    background-repeat: repeat;
    background-size: 30%;
    min-height: 500px;
    display: flex;
    padding: 70px;
}
.content-registration {
    font-size: 20px;
    width: 50%;
    text-align: left;
}
.content-registration a {
    text-decoration: none;
    color: gold;
}
.form-registration {
    width: 50%;
    margin-left: 30px;
}
.form-registration .emeil {
    width: 100%;
    padding: 16px;
    margin-bottom: 30px;
    border: 2px  solid #fff;
    font-size: 16px;
}
.form-registration div {
    display: flex;
}
.form-registration .Date-of-Birth, .hero {
    padding: 16px;
    border: 2px  solid #fff;
    font-size: 16px;
    flex-grow: 1;
}
.form-registration .hero {
    margin-left: 30px;
}
.form-registration input, select {
    background-color: #0000;
    box-sizing: border-box;
    color: #fff;
}
.form-registration .consent {
    margin: 20px 20px 0px 0px;
}
.form-registration a {
    text-decoration: none;
    color: gold;
}
.form-registration .base-button {
    height: 40px;
} 
.layout-footer {
    background-color: #1b1a1a;
}
.footer-menu {
    display: flex;
}
.logo-footer {
    background-image: url("../images/logo  EA.png");
    display: block;
    width: 50px;
    height: 50px;
    margin: 15px 0 0 60px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.logo-footer > img {
 display: none;
}
.footer-nav {
    flex-grow: 1;
}
.footer-nav li {
   list-style: none;
   display: inline-block;
   padding: 0 20px;
}
.footer-nav a {
    text-decoration: none;
    color: gray;
}
.copyright {
    text-align: center;
    color: gray;
    padding: 16px;
    margin: 20px 20px 0px 20px;
}
@media (max-width: 767px) {
    .menu {
        display: none;
    }
    .base-button {
        font-size: 12px;
        display: none;
    }
    .nav-mobile .base-button {
        display: block;
        text-align: center;
        margin-top: 20px;
    }
    .burger {
        background-color: #0000;
        border-radius: 5px;
        padding: 5px 10px;
        margin: 5px;
        display: block;
    }
    .pop-up-menu:checked + .nav-mobile {
        display: block;
    } 
    .nav-mobile{
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        background-color: #1b1a1a;
    }
    .menu > li::after {
        display: block;
    }
    .nav-mobile .menu {
        display: block;
        min-height: auto;
    }
    .nav-mobile .menu > li {
        width: 100%;
        border-bottom: 1px  solid #fff;
    }
    .information {
        padding: 100px 20px 40px;/* padding вынести в общий блок */
        font-size: 10px;
    
    }
    .information .caption {
        font-size: 16px;
    }
    .information h1 {
        font-size: 24px;
    }
    .information p {
        font-size: 14px;
    }
    .information  .base-button {
        display: block;
    }
    .news {
        padding: 40px 20px;
    }
    .news .caption {
        font-size: 24px;
    }
    .news-feed {
        display: block;
        margin: 20px 0px 0px;
    }
    .news-feed a { 
        margin: 10px 0px 0px;
        text-align: center;
        display: inline-block;
        min-height: 200px;
        width: 250px;
        font-size: 14px;
    }
    .news-feed h3 {
        font-size: 14px;
    }
    .introductory-p {
        font-size: 18px;
    }
    .news-feed .images1, .images2, .images3 {
        display: none;
    }
    .characters {
        padding: 60px 20px 20px;
        text-align: center;
    }
    .characters .caption {
        font-size: 16px;
    }
    .characters h1 {
        font-size: 24px;
    }
    .characters p {
        font-size: 14px;
    }
    .characters .base-button {
        display: block;
    }
    .subscription {
        display: block;
        padding: 40px 20px;
    }
    .content-registration {
        font-size: 14px;
        width: 100%;
        text-align: center;
    }
    .caption {
        font-size: 16px;
    }
    .form-registration {
        width: 100%;
        margin: 0px;
    }
    .form-registration .fields {
        display: block;
        font-size: 14px;
        text-align: center;
    }
    .form-registration .emeil {
        width: 100%;
        padding: 8px;
        margin: 20px 0px 10px;
        font-size: 16px;
    }
    .form-registration .Date-of-Birth, .hero {
        padding: 8px;
        font-size: 14px;
        margin: 10px 0px;
        width: 100%;
        }
    .form-registration .hero {
        margin-left: 0px;
    }
    .form-registration .confidentially{
        flex-grow: 1;
        margin: 10px;
        font-size: 10px;
    }
    .form-registration .base-button {
        display: block;
        width: 100%;
        margin: 0px;
    } 
    .subscription {
        display: block;
    }
    .footer-menu {
        display: block;
        padding: 20px;
    }
    .footer-nav ul {
        padding: 10px 0px;
        margin: 0px;
    }
    .footer-nav li {
        padding: 5px 20px;
        width: 50%;
     }
    .logo-footer {
        margin: 0px;
    }
    .copyright {
        padding: 10px;
        margin: 0px;
    }
}